/* DO NOT CHANGE THIS ROOT CLASS NAME*/
$lima: #86b111;
$white: #fff;
$silver: #ccc;
$grey: #808080;

#task5 {
  height: 100%;
  position: relative;
}

.greenBar {
  width: 20px;
  height: 100%;
  background-color: $lima;
  position: absolute;
}

.formWrapper {
  padding: 40px;
}

.form {
  width: 40%;
  display: flex;
  flex-direction: column;
}

.formInput {
  height: 40px;
  border: none;
  border-bottom: 1px solid $silver;
  margin: 8px 0px;
  font-size: 14px;
  padding-left: 10px;
  &:hover {
    border-color: $lima;
  }
  &:focus {
    outline: none;
    border-color: $lima;
    background-color: $white;
  }
}

.formButton {
  background-color: $lima;
  font-weight: 500;
  color: $white;
  border-color: $lima;
  border-radius: 4px;
  border: solid 1px;
  padding: 8px 16px;
  margin-top: 10px;
  margin-right: 16px;
  width: 30%;
  &:hover {
    cursor: pointer;
    background-color: $white;
    color: $lima;
    font-weight: 500;
    border: solid 1px;
  }
  &:disabled {
    background-color: $grey;
    cursor: not-allowed;
    color: $white;
  }
}
