body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  color: #333;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 600;
  margin-top: 0;
}

p {
  margin-top: 0;
  padding-top: 0;
}

.task-description {
  font-weight: 400;
  line-height: 1.5;
  font-size: 18px;
}

nav.menu {
  background-color: #404040;
  color: #fff;
  padding: 16px;
  text-align: center;
}

nav.menu > span.title {
  margin-right: 16px;
}

nav.menu > button {
  cursor: pointer;
  border: none;
  border-radius: 16px;
  background-color: #777;
  color: #fff;
  padding: 8px 16px;
  margin-right: 16px;
  transition: background-color 150ms ease;
  outline: none;
}

nav.menu > button:hover {
  background-color: rgb(134, 177, 17);
}

nav.menu > button.selected {
  background-color: rgb(134, 177, 17);
}

.route-container {
  max-width: 960px;
  margin: auto;
  padding: 32px;
}

.task-container {
  border-radius: 8px;
  border: 3px dashed #ddd;
  padding: 16px;
}
